# compiled output
/dist
/node_modules
/docs_backup_*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.continue*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env
.env.*

# Build files
/build

# misc
refactoring_plan.txt
todo.txt
todo.txt
.roo/skills/sexta-feira/SKILL.md
.uploads/
/uploads
.gitignore
uploads/1765910869306-ede1d455-583a-4daf-b874-9bf4bf4401fe.png
uploads/1765910869306-ede1d455-583a-4daf-b874-9bf4bf4401fe.png
uploads/1765898359973-04099b9e-1126-4898-bff9-8ebed0cfc7ad.png
uploads/1765898514585-2bb838a4-cc6f-41eb-917d-00a9d458361b.png
